/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 5:59:44 PM
    Author     : Mike
*/

@font-face{
    font-family:si-bold;
    src:url('../fonts/SourceHanSansTC-Bold.otf');
}

@font-face{
    font-family:si-reg;
    src:url('../fonts/SourceHanSansTC-Regular.otf');
}

@font-face{
    font-family:si-light;
    src:url('../fonts/SourceHanSansTC-Light.otf');
}
body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
p{
    font-family: si-light;
}


.landing-text{
    padding-left: 150px;
    padding-right: 150px;
}

.landing-text p{
    padding-top: 50px;
    color: #fff;
    font-size: 19px;
    line-height: 50px;
    text-align: justify;   
}

.landing{
    background-image: url('../img/landing-bg.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-responsive{
    max-width: 100%;
    height:auto;
    display:block;
}

.center{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}



.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin-bottom: 15px;}
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.animated-modal {
  max-width: 550px;
  border-radius: 4px;
  overflow: hidden;
  transform: translateY(-50px);
  transition: all .7s;
}

.animated-modal h1{
    
  transform: translateY(-50px);
  opacity: 0;
  font-family: si-bold!important;
  font-size: 25px;
  transition-property: transform, opacity;
  transition-duration: .4s;
}

.animated-modal p {

  transform: translateY(-50px);
  opacity: 0;
  font-size: 15px;
  transition-property: transform, opacity;
  transition-duration: .4s;
}

.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h1{
    transform: translateY(0);
    opacity: 1;
    font-family: si-bold!important;
    font-size: 25px;
}
.fancybox-slide--current .animated-modal p {
  font-size: 15px;
  transform: translateY(0);
  opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h1 {
      font-family: si-bold!important;
    font-size: 25px;
  transition-delay: .1s;
}

.fancybox-slide--current .animated-modal p {
  transition-delay: .3s;
}


.centeral{
    text-align: center;}
.element-item h1{
    font-family:si-reg;
    font-size: 17px!important;
    text-align: center;
    color: #333; 
}
.element-item h2{
    font-family:si-reg;
    font-size: 17px!important;
    padding-top: 20%;
    text-align: center;
    color: #fff; 
}
.material-title{
    font-family: si-bold;
    font-size: 20px;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.active:before{
    opacity: 0;
    transition: 0.4s;
}

.active{
    opacity: 1;
    padding:10px 15px;
    background-color: #323232;
    color: #fff;
    transition: 0.4s;
}

.zoom-sign{
    opacity: 0;
    color: #fff;
    font-size: 50px;
    background-color: #000;
    transition: 0.8s;
    position: absolute;
    width: 96%;
    height: 82%;
}

.zoom-sign:hover{
    opacity: 0.8;
    transition: 0.8s;
    cursor: pointer;
}


#diamond {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color:#F3826D;
    position: relative;
    top: 0px;
}
#diamond:after {
    content: '';
    position: absolute;
    left: -9px;
    top: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #F3826D;
}

.material-description{
    position: relative;
    top:60px;
    margin-bottom: 100px;
}
.material-description p{
    margin-bottom: 17px!important;
    margin-top: 6px!important;
    margin-left: 51px!important;
}

#protein,#carbohydrat,#fat,#veg,#source{
    display: none;
}


footer{
    padding-top: 90px;
    margin-top: 30px;
    position: relative;
    bottom: 0;
    height: 50vh;
    background-color: #323232;
    color: #fff;
}

footer>h1{
    font-family:si-light;
    font-size: 15px;
    text-align: left; 
    color: #fff;
}


